body {
  background-color: #ffffff;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/cs5VEr4/peaceful-scene-of-sunset-on-calm-blue-sea-with-fishermans-in-background_71f-0bcu__F0000.png");
  background-attachment: fixed;
}

textarea {
  background-color: #ffffff;
  resize: none;
}

table {
  background-color: #2196f3;
  border-spacing: 10px;
}

#hyvebook {
  text-decoration: none;
}

.w3-container {
  background-color: lightblue;
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}

.indexStuff {
  display: block;
  width: 76%;
  margin: 0 12% 0 12%;
}

.TextBar {
  margin-top: 0;
  margin-bottom: 0;
  padding: 4px 0;
}

.navbarWidth {
  width: 100%;
}

.navbarButtonWidth {
  width: 20%;
}

.userimagesmall {
  width: 20px;
}

.imageinfriend {
  height: 150px;
}

.hide {
  visibility: hidden;
  display: none;
}